body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color:coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    font-family: "Fira Sans", serif;
}

h1 {
    font-style: italic;
    color: white;
    box-shadow: 2px solid black;
}
.container {
    background-color: coral;
    width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow:5px 5px -5px 5px black;
}

.square-div {
    background-color: white;
    border-radius: 10px;
    width: 900px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: yellow;
}

.square {
    flex: 1 1 4%;
    max-height: 50%;
    max-width: 50%;

}

.square:hover {
    background-color: black;
}